<app-header></app-header>

<div class="container">
    <h1>Home</h1>
    <p>Home works</p>
</div>

<div class="carousel-container">
  <div class="carousel-slide">
    <img [src]="imagesC[currentIndex]" alt="Slide">
  </div>
  <mat-icon (click)="prevSlide()" class="carousel-control prev">keyboard_arrow_left</mat-icon>
  <mat-icon (click)="nextSlide()" class="carousel-control next">keyboard_arrow_right</mat-icon>
</div>

<div class="additional-margin"></div>

<div class="gallery-container" (mouseenter)="setHoverStatus(true)" (mouseleave)="setHoverStatus(false)">
    <div class="image-wrapper" *ngFor="let image of images" 
         [ngClass]="{'active': image === activeImage, 'hovered': isHovered && image !== activeImage}" 
         (mouseenter)="setActiveImage(image)">
        <img [src]="image" alt="Company Logo" />
    </div>
</div>

<div class="additional-margin"></div>