.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.container h1, .container p {
    text-align: center;
    width: 100%;
}

.gallery-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
}

.image-wrapper img {
    filter: grayscale(100%);
    opacity: 0.9;
    transition: filter 0.3s, opacity 0.3s;
}

.image-wrapper:hover img,
.image-wrapper.active img {
    filter: grayscale(0%);
    opacity: 1;
}

.image-wrapper.hovered img:not(:hover) {
    opacity: 0.4;
}