<app-header></app-header>

<div class="container">
    <h1>Home</h1>
    <p>Home works</p>
</div>

<!-- carousel.component.html -->
<div class="carousel-container">
    <div class="carousel">
      <mat-card *ngFor="let image of imagesC; let i = index" [hidden]="currentIndex !== i">
        <img mat-card-image [src]="image.url" alt="Image">
        <button mat-icon-button class="prev-button" (click)="prev()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button class="next-button" (click)="next()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-card>
    </div>
  </div>

<div class="additional-margin"></div>

<div class="gallery-container" (mouseenter)="setHoverStatus(true)" (mouseleave)="setHoverStatus(false)">
    <div class="image-wrapper" *ngFor="let image of images" 
         [ngClass]="{'active': image === activeImage, 'hovered': isHovered && image !== activeImage}" 
         (mouseenter)="setActiveImage(image)">
        <img [src]="image" alt="Company Logo" />
    </div>
</div>

<div class="additional-margin"></div>