/* slider.component.css */

.slider-back {
    height: 100vh;
    position: relative;
    background-color: var(--eerie-black);
}

.slider {
    height: 90%; /* Reducido de 100% a 90% para dejar espacio en la parte superior */
    width: 90%; /* Ajustado el ancho del slider a 80% */
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Z-index superior al del contenedor del encabezado */
    margin: 0 auto; /* Alineado horizontalmente */
    overflow: hidden; /* Asegura que los elementos dentro del slider no se desborden */
}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000 40%, transparent);
}

.slider .list .item .content {
    position: absolute;
    left: 10%;
    top: 18%;
    /*top: 16%;*/
    width: 500px;
    max-width: 80%;
    z-index: 1;
    color: #fff; /* Color de las letras blanco */
    font-family: 'Poppins', sans-serif;
}

.slider .list .item .content p:nth-child(1){
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider .list .item .content p:nth-child(3){
    font-size: 16px;
}

.slider .list .item .content h2{
    display: block;
    font-size: 100px;
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}

.slider .list .item.active h2 {
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
    animation-duration: 1.3s;
}

.arrows {
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}

.arrows button {
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: background-color 0.5s, color 0.5s;
}

.arrows button:nth-child(1) {
    margin-right: 5px;
}

.arrows button:hover {
    background-color: #eee;
    color: black;
}

.thumbnail {
    position: absolute;
    bottom: 70px;
    /*bottom: 100px;*/
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px; 
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}

.thumbnail::-webkit-scrollbar {
    width: 0;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    filter: brightness(0.5);
    transition: filter 0.5s;
    flex-shrink: 0;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item.active {
    filter: brightness(1.5);
}

.thumbnail .item .content {
    position: absolute;
    inset: auto 10px 10px 10px;
    color: #fff; /* Color de las letras blanco */
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 678px) {
    .thumbnail {
        justify-content: start;
    }

    .slider .list .item .content h2 {
        font-size: 60px;
    }

    .arrows {
        top: 10%;
    }
}



.additional-margin {
    padding: 20px; /* Margen superior adicional según tus necesidades */
}
