<!-- services.component.html -->
<app-header></app-header>

<!-- services.component.html -->
<div class="servicios-container">
  <div class="servicio mat-elevation-z8" (mouseover)="onMouseOver($event)" (mouseleave)="onMouseLeave($event)">
    <div class="card">
      <div class="custom-layout">
        <div class="card-body">
          <p class="bs-card-title">Mecanizado</p>
          <p class="bs-card-text">
            Nuestro servicio de mecanizado incluye fresado, taladrado y rectificado de piezas metálicas. Contamos con maquinaria de última tecnología y personal altamente calificado para garantizar la precisión y calidad en cada pieza.
          </p>
          <p class="bs-card-text">
            <small class="text-muted">Última actualización hace 5 minutos</small>
          </p>
        </div>
        <img
          src="assets/services-company/mecanizado.jpg"
          alt="Mecanizado"
          class="img-fluid rounded-end"
        />
      </div>
    </div>
  </div>

  <div class="servicio mat-elevation-z8" (mouseover)="onMouseOver($event)" (mouseleave)="onMouseLeave($event)">
    <div class="card">
      <div class="custom-layout">
        <img
          src="assets/services-company/soldadura.jpg"
          alt="Soldadura"
          class="img-fluid rounded-start"
        />
        <div class="card-body">
          <h5 class="bs-card-title">Soldadura</h5>
          <p class="bs-card-text">
            Ofrecemos servicios de soldadura tanto en acero inoxidable como en hierro, utilizando técnicas de soldadura TIG, MIG y arco eléctrico. Nuestros soldadores certificados garantizan una unión sólida y duradera para todo tipo de estructuras y componentes metálicos.
          </p>
          <p class="bs-card-text">
            <small class="text-muted">Última actualización hace 5 minutos</small>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="servicio mat-elevation-z8" (mouseover)="onMouseOver($event)" (mouseleave)="onMouseLeave($event)">
    <div class="card">
      <div class="custom-layout">
        <div class="card-body">
          <h5 class="bs-card-title">Torno</h5>
          <p class="bs-card-text">
            Con nuestros tornos de precisión, realizamos trabajos de torneado de alta calidad en piezas metálicas de diferentes formas y tamaños. Desde prototipos hasta producción en serie, ofrecemos soluciones versátiles para satisfacer las necesidades de nuestros clientes.
          </p>
          <p class="bs-card-text">
            <small class="text-muted">Última actualización hace 5 minutos</small>
          </p>
        </div>
        <img
          src="assets/services-company/torno.jpg"
          alt="Torno"
          class="img-fluid rounded-end"
        />
      </div>
    </div>
  </div>

  <div class="servicio mat-elevation-z8" (mouseover)="onMouseOver($event)" (mouseleave)="onMouseLeave($event)">
    <div class="card">
      <div class="custom-layout">
        <img
          src="assets/services-company/mandrilado.jpeg"
          alt="Mandrilado"
          class="img-fluid rounded-start"
        />
        <div class="card-body">
          <h5 class="bs-card-title">Mandrilado</h5>
          <p class="bs-card-text">
            Nuestro servicio de mandrilado ofrece la perforación precisa de agujeros de diferentes diámetros en materiales metálicos. Utilizamos equipos de última generación para garantizar la exactitud y la calidad en cada trabajo de mandrilado que realizamos.
          </p>
          <p class="bs-card-text">
            <small class="text-muted">Última actualización hace 5 minutos</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="additional-margin"></div>