<app-header></app-header>

<!-- slider.component.html -->
<div class="slider">
    <!-- list Items -->
    <div class="list">
        <div class="item" *ngFor="let image of images; let i = index" [class.active]="i === currentIndex">
            <img [src]="image.src" alt="Slider Image">
            <div class="content">
                <p>{{ image.category }}</p>
                <h2>{{ image.title }}</h2>
                <p>{{ image.description }}</p>
            </div>
        </div>
    </div>
    <!-- button arrows -->
    <div class="arrows">
        <button (click)="prevSlide()">&lt;</button>
        <button (click)="nextSlide()">&gt;</button>
    </div>
    <!-- thumbnail -->
    <div class="thumbnail">
        <div class="item" *ngFor="let image of images; let i = index" [class.active]="i === currentIndex" (click)="selectSlide(i)">
            <img [src]="image.src" alt="Slider Image Thumbnail">
            <div class="content">
                {{ image.title }}
            </div>
        </div>
    </div>
</div>

<div class="additional-margin"></div>